@model retailbank.Models.Custdet_1288

@{
    ViewBag.Title = "edit_customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-family:'Global User Interface'">Edit Customer Details</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
     
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.custid)

        <div class="form-group">
            @Html.LabelFor(model => model.custid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.custid, new { htmlAttributes = new { @class = "form-control", @Readonly = "true" } })

                @Html.ValidationMessageFor(model => model.custid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.custSsnId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.custSsnId, new { htmlAttributes = new { @class = "form-control", @Readonly = "true" } })
                @Html.ValidationMessageFor(model => model.custSsnId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Old Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.custName, new { htmlAttributes = new { @class = "form-control" } })*@
                @ViewBag.one
                @Html.ValidationMessageFor(model => model.custName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.custName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.custName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.custName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Old Age", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.custName, new { htmlAttributes = new { @class = "form-control" } })*@
                @ViewBag.two
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Old TemporaryAddress", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.custName, new { htmlAttributes = new { @class = "form-control" } })*@
                @ViewBag.three
                @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Address1, "Old TemporaryAddress",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Old PermenantAddress", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.custName, new { htmlAttributes = new { @class = "form-control" } })*@
                @ViewBag.four
                @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address2, "Old PermenantAddress",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.state, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.state, Model.lst1)
                @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
            </div>
        </div>
         
        <div class="form-group">
            @Html.LabelFor(model => model.city, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.city, Model.lst2)
                @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
            </div>
        </div>

        
        @*<div class="form-group">
            <label class="control-label col-md-2">STATE</label>
            <div class="col-md-10">
                <select name="event1" class="form-control" id="event1" style="width:20%" onchange="return showprice()" required="">
                    <option>--Select--</option>
                    <option>Kerala</option>
                    <option>Punjab</option>
                </select>
                <p id="eventerror" style="color: red"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" id="lblcity1" style="display:none">CITY</label>
            <div class="col-md-10">
                <select name="city1" class="form-control" id="city1" onchange="return showprice()" required="" style="display:none;width:20%">
                    <option>--Select--</option>
                    <option value="Trivandrum">Trivandrum</option>
                    <option value="Kochin">Kochin</option>
                </select>
                <p id="eventerror" style="color: red"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" id="lblcity2" style="display:none">City</label>
            <div class="col-md-10">
                <select name="city2" class="form-control" id="city2" onchange="return showprice()" required="" style="display:none;width:20%">
                    <option>--Select--</option>
                    <option value="Ahmedabad">Amritsar</option>
                    <option value="Surat">Chandigarh</option>
                </select>
                <p id="eventerror" style="color: red"></p>
            </div>
        </div>*@


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Viewdet")
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
@*<script type="text/javascript">
  function showprice() {
    var eventname = document.getElementById('event1').value;
    //alert(eventname == "--Select--");
    if(eventname == "--Select--") {
      document.getElementById('eventerror').innerHTML = "Select Valid State";
      document.getElementById('mn1').style.display = "none";
      document.getElementById('mn2').style.display = "none";
      document.getElementById('mn3').style.display = "none";
      document.getElementById('mn4').style.display = "none";
      document.getElementById('event').focus();
      return flse;
    }
    else{
      //
      //return true;
      if(eventname == "Kerala" || eventname == "Chem-o-Car" || eventname == "Chem-o-Missile" || eventname
      == "Chem-o-Brainiac" || eventname == "Chem-o-Live" || eventname == "Master Cascade" || eventname == "Night Treasure Hunt" || eventname == "Tic-Tac-Toe" || eventname == "Marketing Master"){
        document.getElementById('city1').style.display = "block";
        document.getElementById('lblcity1').style.display = "block";
        document.getElementById('city2').style.display = "none";
        document.getElementById('lblcity2').style.display = "none";
        document.getElementById('eventerror').innerHTML = "";
        return true;
      }
      else if(eventname == "Punjab" || eventname == "Water War") {
        document.getElementById('city2').style.display = "block";
        document.getElementById('city1').style.display = "none";
        document.getElementById('lblcity2').style.display = "block";
        document.getElementById('lblcity1').style.display = "none";
        document.getElementById('eventerror').innerHTML = "";
        return true;
      }

    }
  }
</script>*@